{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "plugin:react/jsx-runtime"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "semi": 1,
    "react/jsx-filename-extension": [2, {
      "extensions": [".js", ".jsx"]
    }],
    "linebreak-style": ["warn", "windows"],
    "react/prefer-stateless-function": [0, {
      "ignorePureComponents": true
    }],
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": false
    }],
    "quotes": [1, "single"],
    "no-unused-vars": ["warn", {
      "vars": "all",
      "args": "after-used",
      "ignoreRestSiblings": false
    }],
    "react/prop-types": 1,
    "react/destructuring-assignment": 0,
    "no-plusplus": 0,
    "react/no-array-index-key": 0,
    "react/button-has-type": 0,
    "func-names": 0,
    "react/function-component-definition": 0,
    "click-events-have-key-events": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "no-console": "off",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
                "message": "Unexpected property on console object was called"
            }
        ]
  }
}