.dashboard{
  width: 100%;
  &__datas{
    display: flex;
    justify-content: space-between;
    height: 652px;
    margin-top: 80px;
  }
}

.welcomePage{
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
}