.custom-tooltip {
  background: #E60000;
  padding: 5px;
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
}
