.custom-tooltip {
  background: #E60000;
  padding: 5px;
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
}

.weightChart{
  background-color: #FBFBFB;
  font-family: Roboto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  width: 100%;
  @media screen and (max-width:1024px){ 
    max-width: 650px;
  }
  &__title{
    // margin-left: 70px;
    margin-bottom: -20px;
  }
}

.recharts-legend-item-text{
  color: #74798C;
}