.dashboardHeader{
  width: 100%;
  &__hello {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: #000000;
    margin: 70px 40px 40px 0px;
    width: 90%;
    &-name {
      color: #FF0101;
    }
  }
  
  &__congrats {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-left: 0px;
    width: 90%;
  }
}



