.mainDatas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 66.6%;
  &__secundaryCharts{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.secundaryCharts{
  margin: 0 2%;
}

.responsive__container{
  max-height: 263px;
}